{
"raw_hap_plus":"/gpfs/users/wjzhang/Methylation/HBB/04.villus_filter/Placenta_filter_Plasma_filter_separate_mean.plus.10.txt",
"raw_hap_minus":"/gpfs/users/wjzhang/Methylation/HBB/04.villus_filter/Placenta_filter_Plasma_filter_separate_mean.minus.10.txt",
"villus_input":"/gpfs/users/wjzhang/Methylation/HBB/04.villus_filter/Extract_bam",
"pregnant_plasma_input":"/gpfs/users/wjzhang/Methylation/HBB/10.Full/Test/Extract_bam",
"villus_sample":"/gpfs/users/wjzhang/Methylation/HBB/10.Full/Test/villus_sample",
"pregnant_plasma_sample":"/gpfs/users/wjzhang/Methylation/HBB/10.Full/Test/plasma.sample",
"output":"/gpfs/users/wjzhang/Methylation/HBB/10.Full/Test/target.genotype",
"target_hapid":"/gpfs/users/wjzhang/Methylation/HBB/10.Full/Test/target.hapid"
}
